name: dev_dating_app
description: A dating app for developers
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # State Management
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  provider: ^6.1.1
  
  # Dependency Injection
  get_it: ^7.6.4
  
  # Supabase
  supabase_flutter: ^2.0.0
  
  # UI
  cupertino_icons: ^1.0.6
  google_fonts: ^6.1.0
  url_launcher: ^6.2.5
  device_preview: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
